<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="HeightThreshold" value="75" />
		<add key="Port" value="COM5" />
		<add key="MinUpShare" value="0.4" />
		<add key="ReportingSpan" value="00:00:01 "/>
		<add key="Daybreak" value="00:02:00" />
		<add key="DontWarnBefore" value="01:00:00" />
	</appSettings>
</configuration>