<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
		              type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
			<section name="TrayDesk.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
			         allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="applicationSettings"
		              type="System.Configuration.ApplicationSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
			<section name="TrayDesk.Properties.Settings"
			         type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51"
			         requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<TrayDesk.Properties.Settings>
			<setting name="HeightThreshold" serializeAs="String">
				<value>75</value>
			</setting>
			<setting name="MinUpShare" serializeAs="String">
				<value>0.4</value>
			</setting>
			<setting name="Daybreak" serializeAs="String">
				<value>02:00:00</value>
			</setting>
			<setting name="DontWarnBefore" serializeAs="String">
				<value>01:00:00</value>
			</setting>
		</TrayDesk.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<TrayDesk.Properties.Settings>
			<setting name="Port" serializeAs="String">
				<value>COM5</value>
			</setting>
			<setting name="ReportingSpan" serializeAs="String">
				<value>00:00:01</value>
			</setting>
		</TrayDesk.Properties.Settings>
	</applicationSettings>
</configuration>